@model List<Genre>


<div class="list-group">
    <a href="/movies/list" class="list-group-item list-group-item-action @(ViewBag.SelectedGenre == null ? "active":"")">Tüm Filmler</a>

    @foreach (var genre in Model)
    {
        <a href="/movies/list/@genre.genre_id" 
           class="list-group-item list-group-item-action @(ViewBag.SelectedGenre == genre.genre_id.ToString() ? "active":"")">
    @genre.Name</a>
    }
</div>