@model Movie
<div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/img/@Model.ImageUrl" alt="@Model.Title" width="200" height="300"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Title</h5>
                    <div>
                        <a class="btn btn-primary" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.movie_id" >Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>