@model Movie


<div class="card">
    <div class="row">
        <div class="col-md-3">
            <img src="/img/@Model.ImageUrl" class="card-img"/>
        </div>
        <div class="col-md-3">
            <div class="card-body">
                <h5 class="card-tittle">@Model.Title</h5>
                <p class="card-text">@Html.Raw(Model.Description)</p>
                @*@if (Model.Cast != null)
                {
                    <p>
                        <ul>
                            @foreach (var item in Model.Cast)
                            {
                                <li>@item</li>
                            }
                        </ul>
                    </p>
                }*@
            </div>
        </div>

    </div>
</div>
